/* Options Framework Admin Styles */

#optionsframework {
    max-width:840px;
    background:#f1f1f1;
    padding-bottom: 20px;
    position: relative;
}
#wds-metabox {
    padding-top: 0 !important;
}
#wds-wrap h2.nav-tab-wrapper {
    max-width: 842px;
}
#optionsframework form {
    margin: auto;
}
#optionsframework h3 {
    cursor: default;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    padding: 12px 10px;
    margin: 0;
}
#optionsframework p {
    margin-bottom:0;
    padding-bottom:10px;
}
#optionsframework .section {
    padding:10px 10px 0;
    position: relative;
}
#optionsframework .section .section {
    margin: auto -10px;
}
#optionsframework .group {
    padding-bottom:43px;
    background-color: #fff;
}

#optionsframework .group .section.top-border .heading,
#optionsframework .group .section.inset .heading,
#optionsframework .group .section:first-of-type > .heading,
#optionsframework .group .alignleft > .heading {
    margin-top: 0.66em;
}
#optionsframework .section-select .heading {
    margin-bottom: 1em;
}
#optionsframework .section-select.inline .heading, 
#optionsframework .section-select.inline .option {
    float: left;
}

#optionsframework .section-select.inline .heading {
    margin-right: 10px;
}

#optionsframework .section-select.inline .option {
    margin-top: 5px;
}
#optionsframework .section .controls {
    float: left;
    min-width:350px;
    width: 54%;
    padding-right:2%;
}
#optionsframework .section .explain {
    max-width:38%;
    float: left;
    font-size: 12px;
    line-height:16px;
    color: #777;
}
#optionsframework .section.small .explain {
    max-width: initial;
}
#optionsframework .inset {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.04);
    background: #f9f9f9;
}
#optionsframework .inset:last-child {
    margin-bottom: -40px;
}
#optionsframework .bottom-pad {
    padding-bottom:28px;
}
#optionsframework .top-border {
    border-top:1px solid #e5e5e5;
}
#optionsframework .section-checkbox .controls {
    width: 98%;
}
#optionsframework .section-checkbox .explain {
    max-width:94%;
}
#optionsframework .controls input[type=text] {
    width:100%;
}
#optionsframework .section-info .explain {
    margin-top: 0;
}
#optionsframework .controls input[type=text].wp-color-picker {
    width: 65px;
}
#optionsframework .controls .wp-picker-holder {
    position: absolute;
    z-index: 100;
}
#optionsframework .controls select, #optionsframework .controls textarea {
    margin-bottom:10px;
    width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
    float:left;
    max-width:90%;
    line-height: 16px;
    margin-bottom: 5px;
}
#optionsframework input.checkbox, 
#optionsframework input.of-radio {
    margin: 0 10px 5px 0;
    float:left;
    clear:both;
}
#optionsframework .inline input.of-radio {
    clear: none;
}
#optionsframework .section.alignleft,
#optionsframework .inline label {
    margin-right: 25px;
}
#optionsframework .section.small {
    max-width:23%;
    width: 23%;
}
#optionsframework .section-typography .controls {
    float:none;
    width:auto;
}
#optionsframework .section-scheme .explain,
#optionsframework .section-typography .explain {
    float:none;
    width:auto;
}
#optionsframework .controls .of-typography-size {
    width:80px;
    float:left;
}
#optionsframework .controls .of-typography-unit {
    width:50px;
    margin-left:5px;
    float:left;
}
#optionsframework .controls .of-typography-face {
    width:100px;
    margin-left:5px;
    float:left;
}
#optionsframework .controls .of-typography-style {
    width:80px;
    margin-left:5px;
    margin-right:5px;
    float:left;
}
#optionsframework .section-typography .wp-picker-container {
    margin-top:2px;
}
#optionsframework .section-text .explain, 
#optionsframework .section-scheme .explain,
#optionsframework .section-textarea .explain {
    margin-top: 5px;
}
#optionsframework .section-scheme .explain {
    max-width:initial;
    font-weight: bold;
    /* padding-bottom: 20px; */
}
#optionsframework .of-background-properties {
    float: left;
    clear: left;
    margin-top: 18px;
    position: relative;
    z-index: 1000;
}
#optionsframework .controls .of-background-repeat {
    width:125px;
    margin-right:5px;
    float:left;
}
#optionsframework .controls .of-background-position {
    width:125px;
    margin-right:5px;
    float:left;
}
#optionsframework #section-login_logo_css .controls .of-background-position {
    margin-right: 0;
    margin-left: 5px;
}
#optionsframework .controls .of-background-attachment {
    width:125px;
    margin-right:5px;
    float:left;
}
#optionsframework .section-background .wp-picker-container {
    margin-top:3px;
    float: left;
}
#optionsframework .section-upload .remove-file,
#optionsframework .section-upload .upload-button,
#optionsframework .section-background .remove-file,
#optionsframework .section-background .upload-button {
    height: 24px;
    line-height: 22px;
    padding: 0 8px 1px;
    font-size: 11px;
    margin-top:3px;
    margin-left: 5px;
}
#optionsframework .section-background .controls {
    width: 100%;
    float: none;
    min-width: 390px;
    /* display: inline; */
    padding-right: 0;
}
#optionsframework .section-upload .controls {
    float: left;
    min-width: 310px;
    width: 45%;
    padding-right: 0;
}
#optionsframework #section-logo_icon.section-upload .controls {
    float: left;
    min-width: 300px;
    width: 40%;
    padding-right: 0;
}
#optionsframework .section-scheme {
    padding-top: 1.33em;
}
#optionsframework .section-scheme.inset,
#optionsframework .section-scheme.top-border {
    /* padding-top: 10px; */
}
#optionsframework #section-admin_color_scheme .option {
    clear: both;
}
#optionsframework .section-scheme .controls .of-scheme-properties .section-color-scheme-pickers {
    display: inline;
}
#optionsframework .section-scheme .controls .of-scheme-properties .color-scheme-picker {
    width: 283px;    
    width: 21.1%;
    width: 31.666%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
#optionsframework .section-scheme .controls .of-scheme-properties .section.small {
    margin-right: 12.333%;
}
#optionsframework .of-scheme-properties .of-scheme.section.small p.explain {
    margin-top: 9px;
    font-weight: normal;
}
#optionsframework .section-scheme .controls .of-scheme-properties .advanced-color-scheme-pickers .color-scheme-picker {
    width: 31.666%;
}
#optionsframework .section-scheme .controls .of-scheme-properties p.button-group {
    margin-top: 36px !important;
}
#optionsframework .section-scheme .controls .of-scheme-properties label {
    display: block;
}
#optionsframework .section-scheme .controls {
    max-width: initial;
    width: 100%;
    padding-right: 0;
}

#optionsframework .group .section-scheme .heading {
    display: inline-block;
    margin-top: 0.66em;
}
#optionsframework .section-scheme .controls input[type=button].wp-picker-clear {
    min-width: 52px;
}
#optionsframework .controls .of-radio-img-img {
    border:3px solid #f9f9f9;
    margin:0 5px 10px 0;
    display:none;
    cursor:pointer;
    float:left;
}
#optionsframework .controls .of-radio-img-selected {
    border:3px solid #ccc;
}
#optionsframework .controls .of-radio-img-img:hover {
    opacity:.8;
}
#optionsframework .controls .of-border-width {
    width:80px;
    float:left;
}
#optionsframework .controls .of-border-style {
    width:120px;
    float:left;
}
#optionsframework .hide {
    display:none;
}
#optionsframework .of-option-image {
    max-width:340px;
    margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
    width: 140px;
}
#optionsframework .mini .controls input[type="text"], #optionsframework .mini .controls {
    min-width:140px;
    width: 140px;
}
#optionsframework .mini.section-select .explain {
    clear: left;
    margin-bottom: 5px;
    margin-top: 0;
}
#optionsframework .mini .explain {
    max-width:74%;
}
#optionsframework .section-radio.mini .controls, 
#optionsframework .section-radio.mini .explain {
    width: 100%;
    max-width: initial;
}

#optionsframework .controls input, 
#optionsframework .controls select {
    margin-left: -1px;
    /* margin: 1px 1px 1px -1px; */
}

/* Editor */

#optionsframework .section-editor .explain {
    max-width: 98%;
    float:none;
    margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
    width:80%;
    max-width:203px;
    float: left;
    margin-top: 3px;
}
#optionsframework .screenshot {
    float:right;
    margin-left:1px;
    position:relative;
    width:300px;
    margin-top:-36px;
    background-size: contain;
    overflow: hidden;
}
#optionsframework .screenshot img {
    background:#fafafa;
    border-color:#ccc #eee #eee #ccc;
    border-style:solid;
    border-width:1px;
    float:left;
    max-width:300px;
    padding:0px;
    margin-bottom:10px;
}

#optionsframework #logo_icon-image.screenshot, 
#optionsframework #logo_icon-image.screenshot img {
    width: 32px;
    display: inline-block;
    margin: auto;
    float: none;
    border: none !important;
    padding: 0 5px 0 5px;
    position: static;/* 
    margin-left: 5px;
    margin-right: 5px; */
    min-height: 26px;
    max-height: 32px;
}
#optionsframework #logo_icon-image.screenshot {
    position: absolute;
    top: 12px;
    right: 12px;
}
#optionsframework .screenshot .remove-image {
    background:url("../images/ico-delete.png") no-repeat;
    border:medium none;
    bottom:4px;
    display:none;
    float:left;
    height:16px;
    padding:0;
    position:absolute;
    left:-4px;
    text-indent:-9999px;
    width:16px;
}
#optionsframework .screenshot .no_image .file_link {
    margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
    bottom: 0px;
}
#optionsframework .reset-button {
    float:left;
    cursor:pointer;
}
#optionsframework #section-login_logo_bottom_margin,
#optionsframework #section-login_logo_height {
    padding-top: 0;
    margin-top: -33px;
    /* clear: left; */
}


#optionsframework #section-logo_icon {
    position: relative;
}

#optionsframework #section-logo_icon #wpadminbar {
    position: relative;
    overflow: hidden;
    width: auto;
    min-width: 300px;
    display: inline-block;
    float: right;
}


#section-login_logo_css #wpadminbar * {
    z-index: 0 !important;
}
#section-login_logo_css #wpadminbar.adminbar-preview.default #wp-admin-bar-site-name>.ab-item:before {
    content: "\f324";
    content: "\f120";
    position: relative;
    float: left;
    font: 400 20px/1 dashicons;
    speak: none;
    padding: 4px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: none!important;
    margin-right: 6px;
}
#optionsframework #section-login_logo_css {
    padding-top: 5px !important;
}

#optionsframework  #login_logo_css-image_wrap {
    position: relative;
    /* left: 11px; */
    display: block;
    height: inherit;
    width: 100%;
    /* top: 0; */
    /* margin-top: -12px; */
    margin-bottom: 16px;
    /* margin-left: 0; */
    /* margin-right: -420px; */
    overflow: hidden;
    /* float: right; */
    /* background: #d3e5e5; */
    padding-top: 40px;
    padding-bottom: 58px;
}
#optionsframework #login_logo_css-image_wrap:after {
    content: " ";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    -webkit-box-shadow: 0 -1px 65px 3px rgba(0,0,0,.06);
    box-shadow: inset 0 -1px 65px 3px rgba(0,0,0,.06);
}
#optionsframework #login_logo_css-image {
    overflow: visible;
    position: relative;
    width: 300px;
    float: none;
    margin: 0 auto 0;
}
#optionsframework #login_logo_css-login_facade {
    width: 272px;
    height: 272px;
    display: block;
    content: " ";
    bottom: auto;
    top: auto;
    left: 50%;
    margin: 0 0 0 -160px;
    padding: 26px 24px 2px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    background: #FFF;
    position: absolute;
}

#optionsframework #login_logo_css-image.screenshot object {
    /* opacity: 0 !important; */
}
#optionsframework .screenshot {
    background-repeat: no-repeat;
}
#optionsframework #login_logo_css-image.screenshot img { 
    display:none !important;
}
#login_logo_css_repeat,
/* #login_logo_css_position, */
#login_logo_css_attachment {
    display: none;
}

#optionsframework #section-login_logo_css .of-background-properties {
    float: right;
    clear: none;
    margin-top: 0;
}
#optionsframework #section-login_logo_bottom_margin.mini .controls,
#optionsframework #section-login_logo_bottom_margin.mini .controls select,
#optionsframework #section-login_logo_height.mini .controls,
#optionsframework #section-login_logo_height.mini .controls select {
    width:100px !important;
    min-width: 120px;
}
#optionsframework .section h4.heading { 
    position: relative;
}
#optionsframework #section-logo_icon h4.heading {
    display: inline-block;
    vertical-align: top;
    width: 111px;
    /* margin-right: 5px; */
}
#optionsframework #section-logo_icon .explain {
    /* display: none; */
    max-width: 52%;
    margin-top: 7px;
    margin-top: 0px;
}
#optionsframework #section-logo_icon .option {
    display: inline-block;
    max-width: 700px;
}

#section-maintenance_notification_frequency {
    width: 42.625%;
}
#section-maintenance_notification_frequency .explain {
    max-width:100% !important;
}
#section-maintenance_notification_offset .explain {
    display: none;
}

#maintenance_message,
#maintenance_notes {
    width: 584px !important;
}
#section-exclude_domain, 
#section-show_domain_flags {
    margin-right: 0 !important;
    max-width: 160px;
}
#section-exclude_domain .explain/* ,
#section-show_domain_flags .explain */ {
    clear: left;
    max-width: 74% !important;
}
/* Company Notes */

#company_notes, 
#company_notes:focus {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-width: 380px;
    resize: none;
    padding:0;
}

#section-company_notes {
    min-width: 54%;
    clear: left;
}

/* Plugins tab */

#optionsframework .column-source {
    display: none;
}
#optionsframework table.widefat .column-status {
    width:19%;
}

#optionsframework table.widefat .column-version {
    width: 32% !important;
    padding-right: 30px;
    padding-left: 30px;
}
/* Bottom Section */

#wds-submit {
    padding: 7px 10px;
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
    position: absolute;
    top:auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: auto;
}
#optionsframework #wds-submit p.wds_notification_events {
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
    left: 1em;
    right: 9em;
    width: auto;
}
#optionsframework p.wds_notification_events {
    padding: 0 !important;
    line-height: 28px;
    margin-top: 0;
}
#optionsframework .button-primary {
    float:right;
}
#optionsframework #preview_scheme,
#optionsframework #clear_scheme {
    margin-left: 12px;
}
#optionsframework .section:after {
    content: "";
    display: table;
}
#optionsframework .section.clear:after {
    clear: both;
}

#optionsframework .dashicons-editor-help {
    position: absolute;
    top: 0;
    right: auto;
    display: inline-block;
    margin: -0.12em 0 0 0.33em;
    padding: 0;
    font-size: 1em;
    width: auto;
    height: auto;
    line-height: 1;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    background: 0 0;
    color: #555;
    border: none;
    border-radius: 100%;
}
#optionsframework .dashicons-editor-help:hover,
#optionsframework .dashicons-editor-help:focus {
    color:#0073aa;
}

#optionsframework .dashicons-editor-help:focus {
    outline: 0;
}
#optionsframework .dashicons-editor-help:before {
    content: "\f223";
    font-size: 1.33em;
    border-radius: 100%;
}
#optionsframework .dashicons-editor-help:focus:before {
    outline: 0;
    -webkit-box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
    box-shadow: 0 0 0 1px #5b9dd9,0 0 2px 1px rgba(30,140,190,.8);
}

#optionsframework .dashicons-editor-help:after {
    content: attr(title);
    position: absolute;
    display: none;
}
