/* Dashicons mixin use: @include dashicons( '\f140' );  */ 
/* Button mixin- creates 3d-ish button effect with correct highlights/shadows, based on a base color.  */
html { background: #d6d6d6; }

/*
 * Links
 */
a { color: #377a9f; }
a:hover, a:active, a:focus { color: #31353f; }
#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover { color: #d0f2fc; }

/*
 * Forms
 */
input[type=checkbox]:checked:before { color: #9bb567; }
input[type=radio]:checked:before { background: #9bb567; }
.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #d0f2fc; }

/*
 * Core UI
 */
.wp-core-ui .button-primary { background: #9bb567; border-color: #829d4c #748c44 #748c44; color: white; box-shadow: 0 1px 0 #748c44; text-shadow: 0 -1px 1px #748c44, -1px 0 1px #748c44, 0 1px 1px #748c44, 1px 0 1px #748c44; }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus { background: #a2ba71; border-color: #748c44; color: white; box-shadow: 0 1px 0 #748c44; }
.wp-core-ui .button-primary:focus { box-shadow: inset 0 1px 0 #829d4c, 0 0 2px 1px #33b3db; }
.wp-core-ui .button-primary:active { background: #829d4c; border-color: #748c44; box-shadow: inset 0 2px 0 #748c44; }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled { color: #ced1c7 !important; background: #88a450 !important; border-color: #748c44 !important; text-shadow: none !important; }
.wp-core-ui .button-primary.button-hero { box-shadow: 0 2px 0 #748c44 !important; }
.wp-core-ui .button-primary.button-hero:active { box-shadow: inset 0 3px 0 #748c44 !important; }
.wp-core-ui .wp-ui-primary { color: #c4c4c4; background-color: #666666; }
.wp-core-ui .wp-ui-text-primary { color: #666666; }
.wp-core-ui .wp-ui-highlight { color: #f7ffef; background-color: #31353f; }
.wp-core-ui .wp-ui-text-highlight { color: #31353f; }
.wp-core-ui .wp-ui-notification { color: #d0f2fc; background-color: #9bb567; }
.wp-core-ui .wp-ui-text-notification { color: #9bb567; }
.wp-core-ui .wp-ui-text-icon { color: #d0f2fc; }

/*
 * List tables
 */
.wrap .page-title-action:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus { color: #c4c4c4; background-color: #666666; }
.view-switch a.current:before { color: #666666; }
.view-switch a:hover:before { color: #9bb567; }

/*
 * Admin Menu
 */
#adminmenuback, #adminmenuwrap, #adminmenu { background: #666666; }
#adminmenu a { color: #c4c4c4; }
#adminmenu div.wp-menu-image:before { color: #d0f2fc; }
#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: #f7ffef; background-color: #31353f; }
#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: #ecffd3; }

/*
 * Active tabs use a bottom border color that matches the page background color.
 */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover { background-color: #d6d6d6; border-bottom-color: #d6d6d6; }

/*
 * Admin Menu: submenu
 */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background: #474747; }
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-left-color: #474747; }
#adminmenu .wp-submenu .wp-submenu-head { color: #fcfcfc; }
#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a { color: #fcfcfc; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover { color: #ecffd3; }

/*
 * Admin Menu: current
 */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a { color: #d0f2fc; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus { color: #ecffd3; }
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-left-color: #d6d6d6; }
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: #ecffd3; background: #377a9f; }
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, .ie8 #adminmenu li.opensub div.wp-menu-image:before { color: #ecffd3; }

/*
 * Admin Menu: bubble
 */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: #d0f2fc; background: #9bb567; }
#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: white; background: #9db780; }

/*
 * Admin Menu: collapse button
 */
#collapse-menu, #collapse-button { color: #919191; }
#collapse-menu:hover, #collapse-menu:focus, #collapse-button:hover, #collapse-button:focus { color: #9cb4bc; }
#collapse-button span:after { color: #919191; }
#collapse-menu:hover #collapse-button span:after { color: #9cb4bc; }

/*
 * Admin Bar
 */
#wpadminbar { color: #c4c4c4; background: #666666; }
#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon { color: #c4c4c4; }
#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after { color: #d0f2fc; }
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: #ecffd3; background: #474747; }
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label { color: #ecffd3; }
#wpadminbar:not(.mobile) li:hover .ab-icon:before, #wpadminbar:not(.mobile) li:hover .ab-item:before, #wpadminbar:not(.mobile) li:hover .ab-item:after, #wpadminbar:not(.mobile) li:hover #adminbarsearch:before { color: #ecffd3; }

/*
 * Admin Bar: submenu
 */
#wpadminbar .menupop .ab-sub-wrapper { background: #474747; }
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: #d0f2fc; }
#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a { color: #fcfcfc; }
#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #d0f2fc; }
#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li #adminbarsearch.adminbar-focused:before { color: #ecffd3; }
#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .quicklinks li a:focus .blavatar, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before, #wpadminbar.mobile .quicklinks .ab-icon:before, #wpadminbar.mobile .quicklinks .ab-item:before { color: #ecffd3; }
#wpadminbar.mobile .quicklinks .hover .ab-icon:before, #wpadminbar.mobile .quicklinks .hover .ab-item:before { color: #d0f2fc; }

/*
 * Admin Bar: search
 */
#wpadminbar #adminbarsearch:before { color: #d0f2fc; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: #c4c4c4; background: #787878; }

/*
 * Admin Bar: my account
 */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: transparent; background-color: transparent; }
#wpadminbar #wp-admin-bar-user-info .display-name { color: #c4c4c4; }
#wpadminbar #wp-admin-bar-user-info a:hover .display-name { color: #ecffd3; }
#wpadminbar #wp-admin-bar-user-info .username { color: #fcfcfc; }

/*
 * Pointers
 */
.wp-pointer .wp-pointer-content h3 { background-color: #377a9f; border-color: #306b8c; }
.wp-pointer .wp-pointer-content h3:before { color: #377a9f; }
.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner { border-bottom-color: #377a9f; }

/*
 * Media
 */
.media-item .bar, .media-progress-bar div { background-color: #377a9f; }
.details.attachment { box-shadow: inset 0 0 0 3px white, inset 0 0 0 7px #377a9f; }
.attachment.details .check { background-color: #377a9f; box-shadow: 0 0 0 1px white, 0 0 0 2px #377a9f; }
.media-selection .attachment.selection.details .thumbnail { -webkit-box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px #377a9f; box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px #377a9f; }

/*
 * Themes
 */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after { background: #377a9f; }
.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after { color: #377a9f; }
.theme-section.current, .theme-filter.current { border-bottom-color: #666666; }
body.more-filters-opened .more-filters { color: #c4c4c4; background-color: #666666; }
body.more-filters-opened .more-filters:before { color: #c4c4c4; }
body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus { background-color: #31353f; color: #f7ffef; }
body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before { color: #f7ffef; }

/*
 * Widgets
 */
.widgets-chooser li.widgets-chooser-selected { background-color: #31353f; color: #f7ffef; }
.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before { color: #f7ffef; }

/*
 * Customize
 */
#customize-theme-controls .widget-area-select .selected { background-color: #31353f; color: #f7ffef; }
#customize-footer-actions .devices button:focus { border-bottom-color: #377a9f; }

/*
 * Responsive Component
 */
div#wp-responsive-toggle a:before { color: #d0f2fc; }
.wp-responsive-open div#wp-responsive-toggle a { border-color: transparent; background: #31353f; }
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a { background: #474747; }
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before { color: #d0f2fc; }

/*
 * TinyMCE
 */
.mce-container.mce-menu .mce-menu-item:hover, .mce-container.mce-menu .mce-menu-item.mce-selected, .mce-container.mce-menu .mce-menu-item:focus, .mce-container.mce-menu .mce-menu-item-normal.mce-active, .mce-container.mce-menu .mce-menu-item-preview.mce-active { background: #377a9f; }

/*
 * Patch styles
 */
html { background: #d6d6d6; }
html body { background: #d6d6d6; }
#wpadminbar {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
#wpadminbar:not(.mobile) li:hover .ab-icon { color: #ecffd3; }
#wpadminbar li:hover .ab-icon, #wpadminbar li a:focus .ab-icon, #wpadminbar li.hover .ab-icon { color: #ecffd3; }
#wpadminbar.mobile .quicklinks .ab-icon { color: #ecffd3; }
#wpadminbar.mobile .quicklinks .hover .ab-icon { color: #d0f2fc; }
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon { color: #d0f2fc; }
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover { background-color: #f1f1f1; border-bottom-color: #f1f1f1; }