$base_color: #666666;
$icon_color: #D0F2FC;
$highlight_color: #377a9f;
$notification_color: #9bb567;
$button_color: #9bb567;
$text_color: #c4c4c4;
$body_background: #d6d6d6;
$link: #377a9f;
$link_focus: #31353f;
$form_checked: #9bb567;
$menu_highlight_background: #31353f;
$menu_highlight_text: #f7ffef;
$menu_highlight_icon: #ecffd3;
$menu_current_background: #377a9f;
$menu_current_text: #ecffd3;
$menu_current_icon: #ecffd3;
$menu_submenu_background: #474747;
$menu_submenu_text: #fcfcfc;
$menu_submenu_background_alt: #d0f2fc;
$menu_submenu_focus_text: #ecffd3;
$menu_submenu_current_text: #d0f2fc;
$menu_bubble_background: #9bb567;
$menu_bubble_text: #d0f2fc;
$menu_bubble_current_background: #9db780;
$menu_bubble_current_text: #ffffff;
$menu_collapse_text: #919191;
$menu_collapse_icon: #919191;
$menu_collapse_focus_text: #9cb4bc;
$menu_collapse_focus_icon: #9cb4bc;

@import "../admin";

html {
  background: $body_background;
  body {
     background: $body_background;
  }
}

#wpadminbar:not(.mobile) li:hover .ab-icon {
  color: $menu_highlight_icon;
}

#wpadminbar li:hover .ab-icon,
#wpadminbar li a:focus .ab-icon,
#wpadminbar li.hover .ab-icon {
  color: $menu_submenu_focus_text;
}

#wpadminbar.mobile .quicklinks .ab-icon {
  color: $menu_submenu_focus_text;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon {
   color: $menu_icon;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon {
 color: $menu_icon;
}

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
 background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
