$base_color: #f7fbfc;
$icon_color: #7bbc49;
$highlight_color: #3d5e63;
$notification_color: #748477;
$button_color: #7bbc49;
$text_color: #474747;
$body_background: #fcfeff;
$link: #3d5e63;
$link_focus: #9cb4bc;
$form_checked: #f28e4f;
$menu_background: #f7fbfc;
$menu_icon: #7bbc49;
$menu_highlight_background: #748477;
$menu_highlight_text: #f7ffef;
$menu_highlight_icon: #ecffd3;
$menu_current_background: #3d5e63;
$menu_current_text: #ecffd3;
$menu_current_icon: #ecffd3;
$menu_submenu_background: #ffffff;
$menu_submenu_text: #9cb4bc;
$menu_submenu_background_alt: #d0f2fc;
$menu_submenu_focus_text: #3d5e63;
$menu_submenu_current_text: #748477;
$menu_bubble_background: #f28e4f;
$menu_bubble_text: #ffffff;
$menu_bubble_current_background: #f28e4f;
$menu_bubble_current_text: #ffffff;
$menu_collapse_text: #919191;
$menu_collapse_icon: #919191;
$menu_collapse_focus_text: #9cb4bc;
$menu_collapse_focus_icon: #9cb4bc;

@import "../admin";

html {
  background: $body_background;
  body {
     background: $body_background;
  }
}

#wpadminbar:not(.mobile) li:hover .ab-icon {
  color: $menu_highlight_icon;
}

#wpadminbar li:hover .ab-icon,
#wpadminbar li a:focus .ab-icon,
#wpadminbar li.hover .ab-icon {
  color: $menu_submenu_focus_text;
}

#wpadminbar.mobile .quicklinks .ab-icon {
  color: $menu_submenu_focus_text;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon {
   color: $menu_icon;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon {
 color: $menu_icon;
}

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
 background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
